/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 3, 2019, 2:16:30 PM
    Author     : ADMIN
*/
div{background-color: yellow}
#wep{background-color: red}
.hong{background-color: pink;
      padding:  5px auto;
      

}
div div{
    background-color: blue;
}
div 

